/Assignment 2/VolVis/build/
/Assignment 2/Report/intro.tex.bak
/Assignment 2/Report/mip.tex.bak
/Assignment 2/Report/mip.tex.sav
/Assignment 2/Report/opacity_weighting.tex.bak
/Assignment 2/Report/opacity_weighting.tex.sav
/Assignment 2/Report/report.aux
/Assignment 2/Report/report.bbl
/Assignment 2/Report/report.blg
/Assignment 2/Report/report.log
/Assignment 2/Report/report.out
/Assignment 2/Report/report.pdf
/Assignment 2/Report/bibliography.bib.bak
/Assignment 2/Report/compositing.tex.bak
/Assignment 2/Report/intro.log
/Assignment 3/Report/appendices.log
/Assignment 3/Report/appendices.tex.bak
/Assignment 3/Report/bibliography.bib.bak
/Assignment 3/Report/bibliography.bib.sav
/Assignment 3/Report/intro.tex.bak
/Assignment 3/Report/observations.tex.bak
/Assignment 3/Report/report.aux
/Assignment 3/Report/report.bbl
/Assignment 3/Report/report.blg
/Assignment 3/Report/report.dvi
/Assignment 3/Report/report.log
/Assignment 3/Report/report.out
/Assignment 3/Report/report.synctex
/Assignment 3/Report/report.tex.bak
/Assignment 3/Report/tasks.tex.bak
/Assignment 3/Report/tasks.tex.sav
/Assignment 3/Report/techniques.tex.bak
